<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.caydecompanion">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="Destiny.client_secret" android:value="qqDPmE6a5AUBOFdWOUtnHSJTB2TBluwj1NiMIRIvEfw" />
        <meta-data android:name="Destiny.client_id" android:value="29248" />
        <meta-data android:name="Destiny.api_base_path" android:value="https://www.bungie.net" />
        <meta-data android:name="Destiny.api_auth_base_path" android:value="https://www.bungie.net/" />
        <meta-data android:name="Destiny.api_auth_login_form" android:value="https://www.bungie.net/en/oauth/authorize" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.destiny_api_client.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="redirecturi"
                    android:scheme="your" />
            </intent-filter>
        </activity>

    </application>

</manifest>